**/EJEMPLO/


# Dependencias y caches
node_modules/
.astro/
dist/

# Logs / sistema
npm-debug.log*
.DS_Store

# Dependencias y caches
node_modules/
.astro/
dist/

# Logs / sistema
npm-debug.log*
.DS_Store
