**/EJEMPLO/


# Dependencias y caches
node_modules/
.astro/
dist/

# Logs / sistema
npm-debug.log*
.DS_Store

# Dependencias y caches
node_modules/
.astro/
dist/

# Logs / sistema
npm-debug.log*
.DS_Store

# Seguridad: nunca subir llaves
Passgit
Passgit.pub
*.key
*.pem
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
keys/
**/.ssh/
