---
const { id, titulo, clase = "" } = Astro.props;
---

<section id={id} class={"seccion panel " + clase}>
  <header class="encabezado">
    <h2 class="tituloSeccion tituloSeccionGlow">{titulo}</h2>
  </header>

  <div class="contenido">
    <slot />
  </div>
</section>

<style>
.seccion{
  padding: 18px;
  margin-top: 16px;
  position: relative;
  box-shadow: var(--glow);
}

.encabezado{
  display:flex;
  align-items:center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 14px;
}

.tituloSeccion{
  margin: 0;
  font-family: var(--fuente-titulos);
  font-size: 34px;         /* <-- MAS GRANDE */
  letter-spacing: 0.6px;
}

.contenido{
  min-height: 1px;
}
</style>
