---
/**
 * Archivo: src/pages/index.astro
 * Responsabilidad: Pagina principal (home).
 */

import BarraFlotante from "../componentes/navegacion/BarraFlotante.astro";
import Portada from "../componentes/portada/Portada.astro";
import DisenoBase from "../layouts/DisenoBase.astro";

import GrillaHabilidades from "../componentes/habilidades/GrillaHabilidades.astro";
import GrillaProyectos from "../componentes/proyectos/GrillaProyectos.astro";
import Seccion from "../componentes/ui/Seccion.astro";
---

<DisenoBase titulo="Portafolio | Jose David Consuegra Medina">
  <main class="contenedor">
    <Portada />

    <div id="contenedor-vistas">
      <Seccion id="sobre-mi" titulo="Sobre mi" clase="vista">
        <p class="textoSuave" style="margin:0;">
          (Aqui va tu descripcion corta. Luego la afinamos y la hacemos mas pro.)
        </p>
      </Seccion>

      <Seccion id="proyectos" titulo="Proyectos" clase="vista">
        <GrillaProyectos />
      </Seccion>

      <Seccion id="habilidades" titulo="Habilidades" clase="vista">
        <GrillaHabilidades />
      </Seccion>
    </div>
  </main>

  <BarraFlotante />
</DisenoBase>
