---
import BarraFlotante from "../componentes/navegacion/BarraFlotante.astro";
import Portada from "../componentes/portada/Portada.astro";
import DisenoBase from "../layouts/DisenoBase.astro";

import GrillaHabilidades from "../componentes/habilidades/GrillaHabilidades.astro";
import GrillaProyectos from "../componentes/proyectos/GrillaProyectos.astro";
import ApartadoProgramasTemporales from "../programas-temporales/ApartadoProgramasTemporales.astro";
import ColumnasSobreMi from "../componentes/sobre_mi/ColumnasSobreMi.astro";
import Seccion from "../componentes/ui/Seccion.astro";
---

<DisenoBase titulo="Portafolio | Jose David Consuegra Medina">
  <main class="contenedor">
    <Portada />

    <!-- Navegacion superior (cambia vistas) -->
    <BarraFlotante />

    <div id="contenedor-vistas">
      <Seccion id="sobre-mi" titulo="Sobre mi" clase="vista">
        <ColumnasSobreMi />
      </Seccion>

      <Seccion id="proyectos" titulo="Proyectos" clase="vista">
        <!-- v1: intencionalmente vacio (se llena desde src/datos/proyectos.ts) -->
        <GrillaProyectos />
        <ApartadoProgramasTemporales />
      </Seccion>

      <Seccion id="habilidades" titulo="Habilidades" clase="vista">
        <GrillaHabilidades />
      </Seccion>
    </div>
  </main>
</DisenoBase>
