---
/**
 * Componente: GrillaProyectos
 * Responsabilidad: Mostrar lista de proyectos desde src/datos/proyectos.ts
 */

import { proyectos } from "../../datos/proyectos";
import TarjetaProyecto from "./TarjetaProyecto.astro";
---

<div class="grilla">
  {proyectos.map((p) => <TarjetaProyecto proyecto={p} />)}
</div>

<style>
.grilla{
  display:grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 12px;
}

@media (max-width: 760px){
  .grilla{ grid-template-columns: 1fr; }
}
</style>
